[submodule "tools/tree-sitter-java"]
	path = tools/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "external/SQLStorm"]
	path = external/SQLStorm
	url = https://github.com/SQL-Storm/SQLStorm
[submodule "external/duckdb-sqlpile"]
	path = external/duckdb-sqlpile
	url = https://github.com/gropaul/duckdb.git
	branch = sqlpile/printbindings
[submodule "external/CompressionBenchmark"]
	path = external/CompressionBenchmark
	url = https://github.com/gropaul/CompressionBenchmark
