.data/
data/
plots/
.idea

# Ignore Python cache files
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
/src/sql_analysis/add_3rd_party/tpc-ds/
/src/sql_analysis/add_3rd_party/tpc-h/
/docs/out/
